
      .rec {
        position: absolute;
        width: 32%;
        height: 85%;
        margin: auto;
        top: 8%;
        background: #FFFFFF;
        border-radius: 10px;
      }
      .top {
        height: 10%;
        left: 30%;
        right: 30%;
        margin-top: -4%;
        background: #292929;
        border-radius: 10px 10px 0px 0px;
      }
      .pp {
        position: absolute;
        padding-left: 3%;
        width: 50%;
        top: 0%;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 31px;
        letter-spacing: 0.12em;
        color: #ffffff;

      }
      .close {
        position: absolute;
        width: 25%;
        height: 24px;
        right: -7%;
        top: 0%;
        font-weight: 600;
        letter-spacing: 0.12em;
      }
      .text {
        position: absolute;
        width: 80%;
        height: 19px;
        padding-left: 3%;
        left: 2%;
        top: 14%;
        font-weight: 600;
        font-size: 11px;
        color: #9B9B9B;
      }
      .text1 {
        position: absolute;
        width: 80%;
        height: 19px;
        padding-left: 3%;
        left: 2%;
        top: 20%;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #000000;

      }
      .text2 {
        position: absolute;
        width: 80%;
        height: 19px;
        padding-left: 3%;
        left: 2%;
        top: 77%;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #000000;

      }
      .login {
        position: absolute;
        width: 90%;
        height: 10%;
        padding-left: 4%;
        left: 4%;
        top: 60%;
        border: 0px;
        background: #176db6;
        border-radius: 4px;
        color: White;
      }
      .forgot {
        position: absolute;
        width: 30%;
        height: 24px;
        padding-left: 3%;
        left: 2%;
        top: 73%;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.12em;

        color: #546FFF;

      }
      
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 51; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }

      /* Modal Content/Box */
      .modal-content {
        display: flex;
        justify-content: center;
        
      }

      /* The Close Button */
      .close {
        color: #A4C2D5;
        float: right;
        font-size: 15px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: white;
        text-decoration: none;
        cursor: pointer;
      }
    
      .close4 {
        color: #A4C2D5;
        float: right;
        font-size: 15px;
        font-weight: bold;
      }

      .close4:hover,
      .close4:focus {
        color: white;
        text-decoration: none;
        cursor: pointer;
      }
    
    
      .forgot-rec {
        position: absolute;
        width: 32%;
        height: 50%;
        margin: auto;
        top: 25%;
        background: #FFFFFF;
        border-radius: 10px;
      }
      .forgot-top {
        height: 16%;
        left: 30%;
        padding: 0% 4% 0% 4%;
        right: 30%;
        margin-top: -4%;
        background: #292929;
        border-radius: 10px 10px 0px 0px;
      }
      .forgot-pp {
        position: absolute;
        width: 50%;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 31px;
        letter-spacing: 0.12em;
        color: #ffffff;
      }
      .forgot-btn {
        position: absolute;
        width: 90%;
        height: 15%;
        padding-left: 4%;
        left: 4%;
        top: 68%;
        border: 0px;
        background: #176db6;
        border-radius: 4px;
        color: White;
      }
      .close1 {
        color: #A4C2D5;
        float: right;
        font-size: 15px;
        font-weight: bold;
      }

      .close1:hover,
      .close1:focus {
        color: white;
        text-decoration: none;
        cursor: pointer;
      }

      .signup-rec {
        position: absolute;
        width: 60%;
        height: 155%;
        margin: auto;
        top: 0%;
        background: #FFFFFF;
        border-radius: 10px;
      }
      .signup-top {
        height: 6%;
        left: 30%;
        padding: 0% 3% 0% 3%;
        right: 30%;
        background: #292929;
        border-radius: 10px 10px 0px 0px;
      }
      .signup-pp {
        position: absolute;
        width: 50%;
        margin-top: 2%;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.12em;
        color: #ffffff;
      }
      .signup-btn {
        position: absolute;
        width: 108%;
        height: 7%;
        bottom: 0%;
        left: -8%;
        border: 0px;
        background: #176db6;
        border-radius: 0px 0px 10px 0px;
        color: White;
      }
      .side {
        position: absolute;
        width: 35%;
        height: 94%;
        left: 0%;
        top: 6%;
        background: #F7F7F7;
        border-radius: 0px 0px 0px 10px;
      }
      .side-r {
        position: absolute;
        width: 60%;
        height: 94%;
        right: 0%;
        top: 6%;
        background: #ffffff;
        border-radius: 0px 0px 10px 0px;
      }
      .signup-text {
        width: 70%;
        height: 10%;
        margin-left: 18%;
        margin-top: -5%;
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 0.12em;
        color: #000000;
      }
      .signup-text1 {
        position: absolute;
        width: 80%;
        top: 16%;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        color: #9B9B9B;

      }
      .label {
        color: #9B9B9B !important;
      }
      .sign-form {
        top: 0%;
        right: 10% !important;
        left: auto !important;
      }
      .close2, .close3 {
        color: #A4C2D5;
        float: right;
        font-size: 15px;
        font-weight: bold;
      }

      .close2:hover,
      .close2:focus, .close3:hover,.close3:focus {
        color: white;
        text-decoration: none;
        cursor: pointer;
      }

    
      @import url('https://fonts.googleapis.com/css?family=Muli&amp;display=swap');

      * {
        box-sizing: border-box;
      }

      .form-control {
        position: absolute;
        margin: 20px 0;
        width: 90%;
        left: 2%;
        margin-left: 2%;
      }

      .form-control input {
        border: 0;
        border-bottom: 1px solid #9B9B9B;;
        padding: 15px 0;
        display: block;
        font-size: 18px;
        font-family: 'Muli', sans-serif;
        width: 100%;
        transition: 0.1s ease-in;
      }

      .form-control input:focus, 
      .form-control input:valid {
        border-bottom-color: #176db6;
        outline: none;
      }

      .form-control input:focus + label span ,
      .form-control input:valid + label span{
        color: #176db6;
        transform: translateY(-30px);
      }

      .form-control label {
        position: absolute;
        top: 15px;
        left: 0;
      }

      .form-control label span {
        display: inline-block;
        font-size: 18px;
        min-width: 5px;
        transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
    
    
      @media only screen and (max-width: 680px) {
        .rec {
          width: 100%;
          height: 65%;
          top: 0px;
        }
        .forgot {
          width: 50%;
        }
        .text {
          font-size: 10px;
        }
        .text1 {
          font-size: 14px;
        }
        .text2 {
          font-size: 13px;
        }
        
        .form-control {
          top: 7%
        }
      }
      @media only screen and (max-width: 375px) {
        .rec {
          width: 100%;
          height: 80%;
          top: 0px;
        }
        .form-control {
          top: 8%
        }
      }
    
    
      @media only screen and (max-width: 680px) {
        .forgot-rec {
          width: 100%;
          height: 56%;
          top: 2%;
        }
        .forgot-top {
          height: 17%;
        }
      }
    